<div style="min-height:450px;">
    <form #parteForm="ngForm" (ngSubmit)="guardarParte(parteForm)">
        <div>
            <span>Nombre: </span>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="parte.nombre">
        </div>
        <div>
            <span>Marca: </span>
            <input type="text" name="marca" #marca="ngModel" [(ngModel)]="parte.marca">
        </div>
        <div>
            <span>Modelo: </span>
            <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="parte.modelo">
        </div>
        <div>
            <span>Precio: </span>
            <input type="number" name="precio" #precio="ngModel" [(ngModel)]="parte.precio">
        </div>
        <div>
            <span>Imagen: </span>
            <span *ngIf="parte.imagen" style="float:none;">
                <img src="{{url+'get-imagen/'+parte.imagen}}" style="width:100px;" alt="">
            </span>
            <input type="file" #archivoImagen placeholder="Seleccionar imagen" (change)="imagenChangeEvent($event);">            
        </div>
        <div>
            <input type="submit" [disabled]="!parteForm.form.valid" value="GUARDAR">
        </div>
    </form>
</div>
