<div style="min-height:450px;">
    <form action="">
        <div>
            <label for="correo">Correo electrónico: </label>
            <input name="correo" type="email">
        </div>
        <div>
            <label for="nombre">Nombre: </label>
            <input name="nombre" type="text">
        </div>
        <div>
            <label for="mensaje">Mensaje: </label>
            <textarea name="mensaje"cols="30" rows="10"></textarea>
            
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
