
<footer class="container" id="footer">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div>
                <H2>Contacto</H2>
                <h4><b>Telefono: </b> +593 991237894 <br>
                    +593 02 564654
                </h4>
            </div>
        </div>            
        <div class="col-md-4 col-sm-4">
            <h2>Ubicación</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10813.416232573805!2d-78.48537076491574!3d-0.1773623571852757!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1678421969186!5m2!1ses!2sec" width="80%" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2>ALGO MAS</h2>
        </div>
    </div>
</footer>
